<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

    <!-- FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

    <!-- FAVICON -->
    <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizesn="152x152" href="/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/images/favicon/nmanifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="img/favicon/nms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "No 420" %></title>

    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">

    <!-- NAV -->
    <% if current_page.url == '/' %>
    <nav class="trans">
    <% else %>
    <nav>
    <% end %>
      <div class="relative">
        <!-- <div id="hamburger"></div> -->
        <a id="siteid" href="/">
          <%= image_tag 'logo-small.png' %>
          <span>No. 420</span>
        </a>
        <div class="right">
          <span class="button button-none">(866) 623-4761</span>
          <%= link_to 'Contact Us', 'contact', :class=>'button button-primary' %>
        </div>
      </div>
    </nav>

    <!-- <section class="mobile-menu">
      <ul>
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'Page Name', 'Example.html' %></li>
        <li class="submenu">
          <%= link_to '<span>Page name</span>', 'javascript:void(0);' %>
          <ul>
            <li><%= link_to 'Page Name', 'Example.html' %></li>
          </ul>
        </li>
      </ul>
    </section> -->
    <!-- /NAV -->

    <%= yield %>

    <footer class="simple-footer">
      <%= image_tag 'logo-trans-white-small.png'%>
      <section class="footer-row">
        <!-- <div class="footer-col">
          <h5>Columns 1</h5>
          <ul>
            <li><a href="javascript:void(0);">Footer link</a></li>
            <li><a href="javascript:void(0);">Footer link</a></li>
            <li><a href="javascript:void(0);">Footer link</a></li>
            <li><a href="javascript:void(0);">Footer link</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h5>Columns 2</h5>
          <ul>
            <li><a href="javascript:void(0);">Footer link</a></li>
            <li><a href="javascript:void(0);">Footer link</a></li>
            <li><a href="javascript:void(0);">Footer link</a></li>
            <li><a href="javascript:void(0);">Footer link</a></li>
          </ul>
        </div> -->
        <div class="footer-bottom">
          Copyright © No. 420 2015. All rights reserved
          <div class="address">1401 Fulton St #909, Fresno, CA 93721</div>
        </div>
      </section>
    </footer>
  </body>
</html>
